<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
	  internalLogLevel="Off"
      internalLogFile="internal-nlog.log">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!--<variable name="DefaultLayout" value="${longdate} | ${event-properties:item=EventId_Id} | ${level:uppercase=true:padding=5} | ${logger} | ${message} | ${exception:format=type,tostring} | ${callsite} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />-->

	<!-- the targets to write to -->
	<targets async="true">
		<target xsi:type="File" name="LogFile" fileName="nlog-${date:format=yyyyMMdd}.log" layout="${longdate} | ${uppercase:${level}} | ${message} | ${exception:format=tostring} | ${logger} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}"
				archiveAboveSize="16777216"/>

		<!--<target xsi:type="ColoredConsole" name="ColorConsole" layout="${DefaultLayout}" />-->
		<target xsi:type="ColoredConsole" name="ColorConsole" layout="${longdate} | ${level} | ${exception:format=type} : ${message} | ${callsite}"/>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Debug" maxlevel="Error" writeTo="LogFile" />
	</rules>
</nlog>